

<h1 align="center" class="margin">
  <b>
    Articles
  </b>
</h1>

<%= link_to "Create New Articles", new_article_path , class:"btn btn-primary btn-sm" %>

<%= render 'article', obj: @articles %>

<hr color="white" width="400px">
<p align="center">
<%= link_to "View in tables",articles_table_format_path ,class:"btn btn-primary" %>
</p>