
@import 'bootstrap/dist/css/bootstrap';

bg-light{
  color: #2E2F30;
}

.bg-dark{
  color: #B00100;
}

.navbar-dark{
  color: #B00100;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('for_rails2.jpg');
  background-size: cover;
  height: max-content;
  margin-top: 20px;
}

.jumbotron h1{
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron p{
  color: cadetblue;
  margin-top: 40px;
}

.load{
  margin-right: 8px;
}

.sierra{
  background-image: asset-url('grey.jpg');
  color: #F7F7F7;
}

.truss{
  color: #F7F7F7;
  margin-left: 70px;
  margin-top: 50px;
}

footer{
  position: fixed;
  bottom: 10px;
  border-top: 1px solid cornflowerblue;

}

.mar{
  margin-top: 50px;
}

.card{
  alignment: center;
  ;
}

.nwe{
 margin-left: 250px;
}

.colour{
  color: #2E2F30;
  margin-top: 50px;
}

.margin{
  margin-top:50px;
}

