<div class="row">
    <div class="col-xl-4 offset-xl-4">
        <% flash.each do |key,value| %>
        <div class='alert alert-<%= key %>'>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, value , :id => "flash_#{key}" if value.is_a?(String) %>
        </div>
        <% end %>
    </div>
</div>